APP_NAME=CfgGram
APP_BUNDLE_ID=ph.telegra.CfgGram
APP_SPECIFIC_URL_SCHEME=cfggram

GLOBAL_CONSTANTS = APP_CONFIG_IS_INTERNAL_BUILD=false APP_CONFIG_IS_APPSTORE_BUILD=true APP_CONFIG_APPSTORE_ID=686449807 APP_SPECIFIC_URL_SCHEME="\"$(APP_SPECIFIC_URL_SCHEME)\""
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GLOBAL_CONSTANTS)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) APP_CONFIG_API_ID=33027228 APP_CONFIG_API_HASH="\"74881326c30d914601c2aeee4667fbc0\"" APP_CONFIG_HOCKEYAPP_ID="\"ad8831329ffc8f8aff9a2b0b86558b24\""
